@layer components {
  .form-check {
    @apply flex items-center;
  }
  .form-check-label {
    @apply text-gray-700 cursor-pointer select-none ml-2;
  }
  .form-check-input {
    &:focus {
      @apply outline-none ring;
    }
    &[type="radio"] {
      width: 16px;
      height: 16px;
      @apply appearance-none border shadow-sm border-blue-600 p-0 relative rounded-full overflow-hidden cursor-pointer;
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        transition: all 0.2s ease-in-out;
        @apply bg-blue-700 absolute rounded-full inset-0 m-auto opacity-0;
      }
      &:checked {
        @apply border-blue-700;
        &:before {
          @apply opacity-100;
        }
      }
    }
    &[type="checkbox"] {
      width: 16px;
      height: 16px;
      border-radius: 0.2em;
      @apply appearance-none border shadow-sm border-gray-300 p-0 relative overflow-hidden cursor-pointer;
      &:before {
        content: "";
        transition: all 0.2s ease-in-out;
        background-image: url("../../assets/icons/checkbox.svg");
        background-size: 80%;
        @apply w-full h-full absolute text-white flex items-center justify-center opacity-0 bg-no-repeat bg-center;
      }
      &:checked {
        @apply bg-blue-700 border-blue-700;
        &:before {
          @apply opacity-100;
        }
      }
    }
  }
}
